<div class="container">
    <table class="table" style="width: 500px;">
        <tr>
            <td>
                <label>UserId</label>
            </td>
            <td>
                <input type="number" [(ngModel)]="userId" class="form-control">
            </td>
            <td>
                <button class="btn btn-primary" (click)="search()">Search</button>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <span style="color: red;">{{errMsg}}</span>
            </td>
        </tr>
    </table>
    <hr>
    <table class="table" *ngIf="isuserExist">
        <tr>
            <td>UserId</td>
            <td>
                <input type="number" [(ngModel)]="user.userId" readonly class="form-control">
            </td>
        </tr>
        <tr>
            <td>name</td>
            <td>
                <input type="text" [(ngModel)]="user.name" readonly class="form-control">
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" [(ngModel)]="user.email" class="form-control">
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="text" [(ngModel)]="user.password" class="form-control">
            </td>
        </tr>
        <tr>
            <td>mobile</td>
            <td>
                <input type="number" [(ngModel)]="user.mobile" class="form-control">
            </td>
        </tr>
        <tr>
            <td>RoleName</td>
            <td>
                <input type="text" [(ngModel)]="user.roleName" class="form-control">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary" (click)="edit()">Edit</button>&nbsp;
                <button class="btn btn-primary" (click)="delete()">Delete</button>
            </td>
        </tr>

    </table>
</div>
