<div class="container">
    <table class="table">
        <!-- <tr>
            <td>userId</td>
            <td>
                <input type="number" [(ngModel)]="user.userId">
            </td>
        </tr> -->
        <tr>
            <td>name</td>
            <td>
                <input type="text" [(ngModel)]="user.name">
            </td>
        </tr>
        <tr>
            <td>email</td>
            <td>
                <input type="text" [(ngModel)]="user.email">
            </td>
        </tr>
        <tr>
            <td>mobile</td>
            <td>
                <input type="text" [(ngModel)]="user.mobile">
            </td>
        </tr>
        <tr>
            <td>password</td>
            <td>
                <input type="text" [(ngModel)]="user.password">
            </td>
        </tr>
        <tr>
            <td>roleName</td>
            <td>
                <input type="string" [(ngModel)]="user.roleName">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="addUser()">Add</button>
            </td>
        </tr>

    </table>
</div>
<!-- <div class="register-form p-5 border">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
      
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" name="Name" [(ngModel)]="user.name" required minlength="6"
                maxlength="20" #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.errors }" />
            <div *ngIf="f.submitted && name.errors" class="invalid-feedback">
                <div *ngIf="Name.errors['required']">Name is required</div>
                <div *ngIf="name.errors['minlength']">
                     Name must be at least 6 characters
                </div>
                <div *ngIf="name.errors['maxlength']">
                    Name must be at most 20 characters
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required email
                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
            <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                <div *ngIf="email.errors['required']">Email is required</div>
                <div *ngIf="email.errors['email']">Email is invalid</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required
                minlength="6" maxlength="40" #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
            <div *ngIf="f.submitted && password.errors" class="invalid-feedback">
                <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">
                    Password must be at least 6 characters
                </div>
                <div *ngIf="password.errors['maxlength']">
                    Password must not exceed 40 characters
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" [(ngModel)]="user.mobile" required mobile
                #mobile="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile.errors }" />
            <div *ngIf="f.submitted && mobile.errors" class="invalid-feedback">
                <div *ngIf="mobile.errors['required']">Mobile is required</div>
                <div *ngIf="mobile.errors['mobile']">Mobile is invalid</div>
            </div>
        </div>
        
        <div class="form-group">
            <label>RoleName</label>
            <select class="form-control" name="rolename" [(ngModel)]="user.rolename" required
                    #role="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rolename.errors }">
                <option value="" disabled>Select Role</option>
                <option value="Customer">Customer/option>
                <option value="Seller">Seller</option>
                <option value="Admin">Admin</option>
            </select>
            <div *ngIf="f.submitted && rolename.errors" class="invalid-feedback">
                <div *ngIf="rolename.errors['required']"> Role is required</div>
            </div>
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-primary">Register</button>
             <button type="button" (click)="onReset(f)" class="btn btn-warning float-right">
                Reset
            </button> -->
        <!-- </div>
    </form>
    <p>Already user! Redirect to login page: <button class="btn btn-primary" (click)="redirectToLogin()">Login</button></p>
</div> --> 